[Unit]
Description=Inotify Watcher Service
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/inotify_watcher
TimeoutStopSec=1

[Install]
WantedBy=multi-user.target
